<div class="container-xxl">
  <!-- Navigation Bar -->

  <div class="container-xl">
    <div class="text-center">
      <nav class="navbar navbar-expand-sm navbar-custom">
        <!--  -->
        <div class="navbar-nav display-4 px-5 bg-light m-2 rounded rounded-3">
          <p class="display-6 fs-2 p-3 px-5">LOGO</p>
        </div>

        <!--  -->
        <div
          class="collapse bg-light p-3 m-2 rounded rounded-3 navbar-collapse justify-content-center"
        >
          <div class="col-12 my-2">
            <div class="row d-flex justify-content-between">
              <!--  -->
              <div class="col-md-12 d-flex align-items-center">
                <div class="input-group">
                  <i
                    class="fa-solid fa-magnifying-glass d-flex px-3 align-items-center"
                  ></i>
                  <input
                    class="form-control border border-0"
                    type="text"
                    placeholder="Search here...."
                  />
                  <i
                    class="fa-solid fa-sliders d-flex ps-3 align-items-center"
                  ></i>
                  <a href="" class="text-decoration-none text-dark">
                    <label for="" class="lead text-center ps-3"
                      >Filter</label
                    ></a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--  -->
        <div class="navbar-nav mr-auto mx-2 bg-light rounded rounded-3">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="btn btn-success px-5 py-4" href="#">Become a Seller</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>

  <div class="container-xl">
    <div class="row">
      <!-- sidebar -->
      <div class="col bg-white">
        <div class="sidebar shadow rounded rounded-3">
          <div class="mx-2">
            <ul class="list-unstyled">
              <li>
                <a href="#" class="text-dark"
                  ><i class="fa-solid fa-house mx-3"></i>Home</a
                >
              </li>
              <li>
                <a href="#" class="text-dark"
                  ><i class="fa-regular fa-bell mx-3"></i>Notification</a
                >
              </li>
              <li>
                <a href="#" class="text-dark"
                  ><i class="fa-regular fa-heart mx-3"></i>Shop</a
                >
              </li>
              <li>
                <a href="#" class="text-dark"
                  ><i class="fa-regular fa-envelope mx-3"></i>Conversation</a
                >
              </li>
              <li>
                <a href="#" class="text-dark"
                  ><i class="fa-solid fa-wallet mx-3"></i>Wallet</a
                >
              </li>
              <li>
                <a href="#" class="text-dark"
                  ><i class="fa-regular fa-star mx-3"></i>Subscription</a
                >
              </li>
              <li>
                <a href="#" class="text-dark"
                  ><i class="fa-regular fa-user mx-3"></i>My Profile</a
                >
              </li>
              <li>
                <a href="#" class="text-dark"
                  ><i class="fa-solid fa-gear mx-3"></i>Settings</a
                >
              </li>
            </ul>
          </div>
          <div class="mt-5">
            <ul class="list-unstyled">
              <li>
                <a href="" class="text-dark"
                  ><i class="fa-solid fa-right-from-bracket mx-3"></i>Logout</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- cards -->
      <div class="col">
        <div class="container overflow-auto vh-100">
          <!-- body -->
          <div
            class="d-flex justify-content-center align-items-center flex-column"
          >
            <div class="card mb-4" style="width: 30rem; min-height: 30rem">
              <div class="card-body">
                <!-- profile name and image -->
                <div class="d-flex justify-content-between">
                  <div class="d-flex">
                    <div class="m-2">
                      <img
                        src="https://images.unsplash.com/photo-1705645930353-0e335311ef20?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjR8fG1hbGUlMjBwaG90b3Nob290fGVufDB8fDB8fHww"
                        alt=""
                        width="60px"
                        height="60px"
                        class="profile-image rounded rounded-3"
                      />
                    </div>
                    <div class="mt-1">
                      <p class="lead m-0">Lara Leones</p>
                      <p class="small text-muted">@thewallart</p>
                    </div>
                  </div>
                  <div class="mt-3">
                    <i class="fa-solid fa-ellipsis-vertical fs-3"></i>
                  </div>
                </div>

                <!-- para -->
                <div class="m-2">
                  <p class="para small fw-medium">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    Magnam saepe voluptatum laboriosam numquam expedita minus
                    modi.
                    <span class="text-danger">Read More</span>
                  </p>
                </div>

                <!-- upload image -->
                <div>
                  <img
                    src="https://images.unsplash.com/photo-1526170375885-4d8ecf77b99f?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8cHJvZHVjdHxlbnwwfHwwfHx8MA%3D%3D"
                    alt=""
                    class="img-fluid my-3"
                  />
                </div>

                <hr />

                <!-- all Button -->
                <div class="m-2 d-flex">
                  <div class="mx-2 fw-bold">
                    <i class="fa-regular fa-heart"></i>
                    <label class="px-1" for="">9.8K</label>
                  </div>
                  <div class="mx-2 fw-bold">
                    <i class="fa-regular fa-comment"></i>
                    <label class="px-1" for="">8.6K</label>
                  </div>
                  <div class="mx-2 fw-bold">
                    <i class="fa-solid fa-share"></i>
                    <label class="px-1" for="">7.2K</label>
                  </div>
                </div>
              </div>
            </div>

            <div class="card mb-4" style="width: 30rem">
              <div class="card-body">
                <!-- profile name and image -->
                <div class="d-flex justify-content-between">
                  <div class="d-flex">
                    <div class="m-2">
                      <img
                        src="https://images.unsplash.com/photo-1705645930353-0e335311ef20?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjR8fG1hbGUlMjBwaG90b3Nob290fGVufDB8fDB8fHww"
                        alt=""
                        width="60px"
                        height="60px"
                        class="profile-image rounded rounded-3"
                      />
                    </div>
                    <div class="mt-1">
                      <p class="lead m-0">Lara Leones</p>
                      <p class="small text-muted">@thewallart</p>
                    </div>
                  </div>
                  <div class="mt-3">
                    <i class="fa-solid fa-ellipsis-vertical fs-3"></i>
                  </div>
                </div>

                <!-- para -->
                <div class="m-2">
                  <p class="para small fw-medium">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    Magnam saepe voluptatum laboriosam numquam expedita minus
                    modi.
                    <span class="text-danger">Read More</span>
                  </p>
                </div>

                <!-- upload image -->
                <div>
                  <img
                    src="https://images.unsplash.com/photo-1526170375885-4d8ecf77b99f?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8cHJvZHVjdHxlbnwwfHwwfHx8MA%3D%3D"
                    alt=""
                    class="img-fluid my-3"
                  />
                </div>

                <hr />

                <!-- all Button -->
                <div class="m-2 d-flex">
                  <div class="mx-2 fw-bold">
                    <i class="fa-regular fa-heart"></i>
                    <label class="px-1" for="">9.8K</label>
                  </div>
                  <div class="mx-2 fw-bold">
                    <i class="fa-regular fa-comment"></i>
                    <label class="px-1" for="">8.6K</label>
                  </div>
                  <div class="mx-2 fw-bold">
                    <i class="fa-solid fa-share"></i>
                    <label class="px-1" for="">7.2K</label>
                  </div>
                </div>
              </div>
            </div>

            <div class="card mb-4" style="width: 30rem">
              <div class="card-body">
                <!-- profile name and image -->
                <div class="d-flex justify-content-between">
                  <div class="d-flex">
                    <div class="m-2">
                      <img
                        src="https://images.unsplash.com/photo-1705645930353-0e335311ef20?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjR8fG1hbGUlMjBwaG90b3Nob290fGVufDB8fDB8fHww"
                        alt=""
                        width="60px"
                        height="60px"
                        class="profile-image rounded rounded-3"
                      />
                    </div>
                    <div class="mt-1">
                      <p class="lead m-0">Lara Leones</p>
                      <p class="small text-muted">@thewallart</p>
                    </div>
                  </div>
                  <div class="mt-3">
                    <i class="fa-solid fa-ellipsis-vertical fs-3"></i>
                  </div>
                </div>

                <!-- para -->
                <div class="m-2">
                  <p class="para small fw-medium">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    Magnam saepe voluptatum laboriosam numquam expedita minus
                    modi.
                    <span class="text-danger">Read More</span>
                  </p>
                </div>

                <!-- upload image -->
                <div>
                  <img
                    src="https://images.unsplash.com/photo-1526170375885-4d8ecf77b99f?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8cHJvZHVjdHxlbnwwfHwwfHx8MA%3D%3D"
                    alt=""
                    class="img-fluid my-3"
                  />
                </div>

                <hr />

                <!-- all Button -->
                <div class="m-2 d-flex">
                  <div class="mx-2 fw-bold">
                    <i class="fa-regular fa-heart"></i>
                    <label class="px-1" for="">9.8K</label>
                  </div>
                  <div class="mx-2 fw-bold">
                    <i class="fa-regular fa-comment"></i>
                    <label class="px-1" for="">8.6K</label>
                  </div>
                  <div class="mx-2 fw-bold">
                    <i class="fa-solid fa-share"></i>
                    <label class="px-1" for="">7.2K</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- contents -->
      <div class="col bg-info text-center mx-3">
        <div class="content">
          <div class="card m-2" style="width: 18rem">
            <div>
              <img
                src="https://images.unsplash.com/photo-1526170375885-4d8ecf77b99f?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8cHJvZHVjdHxlbnwwfHwwfHx8MA%3D%3D"
                class="card-img-top"
                alt="..."
              />
              <h2>this is heading</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Add the container with overflow-scroll -->
</div>
